@charset "UTF-8";

div#tv-radio {
    width: 900px;
    height: 580px;
    margin: auto;
    background: url("../imagens/radio-tv.png");
}

audio#musica {
    display: block;
    position: relative;
    left: 575px;
    top: 501px;
    width: 290px;
    height: 30px;
    margin-left: 4px;
}

video#filme {
    display: block;
    position: relative;
    left: 79px;
    top: 85px;
    width: 455px;
}